/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

/* SCSS HEX */
$tigerlily: #e2583eff;
$robin-egg-blue: #00ccccff;
$icterine: #fcfc62ff;
$fern-green: #618b4aff;
$dark-moss-green: #40531bff;

$font-family: "Atkinson Hyperlegible", sans-serif;

$code-bg: #F5F5F5; // A light gray color

/*-- scss:rules --*/

.boxed-text {
  border: 2px solid #333; /* Sets a 2px solid border with a dark grey color */
  padding: 10px;          /* Adds 10px of space between the text and the border */
  display: inline-block;  /* Optional: Makes the div behave like an inline element but with block properties,
                             allowing it to wrap around the text content and not take up the full width.
                             Use 'block' if you want it to take up the full available width. */
  border-radius: 5px;     /* Optional: Adds rounded corners to the box */
}

$callout-color-note: $robin-egg-blue;